* {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

button {
  opacity: 0;
  transition: opacity 5s;
}

button#maximize_button {
  opacity: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: min(100%, 800px);
  height: 60px;
  font-size: min(5vw, 20px);
  background-color: #000;
  color: #fff;
}

body {
  background-color: #000;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

div.content {
  opacity: 0;
  transition: opacity 1s;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #888;
}

div.content>div.dark,
div.content>div.light {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.content * {
  position: absolute;
}

.left {
  left: 0%;
}

.right {
  right: 0%;
}

.top {
  top: 0%;
}

.bottom {
  bottom: 0%;
}

svg.bg {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (prefers-color-scheme: dark) {

  div.content>div.dark {
    visibility: visible;
  }

  div.content>div.light {
    visibility: hidden;
  }
}

@media (prefers-color-scheme: light) {

  div.content>div.dark {
    visibility: hidden;
  }

  div.content>div.light {
    visibility: visible;
  }
}
