div.content {
  background: radial-gradient(circle,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(0, 0, 0, 1) 70%);
  height: 100vh;
  margin: 0;
}

.rainbow-line {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#infinite-logo {
  width: min(256px, 75vw);
  height: auto;
  top: min(2vmin, 50px);
  right: min(1vmin, 25px);
}